---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BlogLayout title="Blog">
  <ul class="space-y-6">
    {posts.map((post) => (
      <li>
        <a 
          href={`/blog/${post.slug}`} 
          class="text-2xl font-semibold text-blue-500 hover:underline"
        >
          {post.data.title}
        </a>
        <p class="text-sm text-gray-500">{post.data.description}</p>
        <time class="text-sm text-gray-400">
          {new Date(post.data.publishedAt).toLocaleDateString()}
        </time>
      </li>
    ))}
  </ul>
</BlogLayout>
