---
import { Icon } from "astro-icon";
import BaseLayout from "./BaseLayout.astro";
const { title, icon } = Astro.props;
---

<BaseLayout>
    <li class="relative border-b border-border dark:border-text-dark/30" x-data="{selected: null}">
        <!-- Accordion Button -->
        <button
            type="button"
            class="w-full px-3 py-3 text-left bg-background dark:bg-background-dark"
            @click="selected !== 1 ? selected = 1 : selected = null"
        >
            <div class="flex items-center justify-between">
                <!-- Accordion Title -->
                <h4
                    class="text-2xl font-mono text-gray-800 dark:text-gray-300 hover:text-primary dark:hover:text-secondary flex items-start"
                >
                    <Icon name={icon} class="w-8 h-8 mr-4" />
                    {title}
                </h4>

                <!-- Arrow Icon -->
                <Icon
                    name="ic:baseline-arrow-drop-down"
                    class="w-5 h-5 text-gray-800 dark:text-gray-300 transition-transform duration-300"
                    x-bind:style="selected == 1 ? 'transform: rotate(180deg)' : ''"
                />
            </div>
        </button>

        <!-- Accordion Content -->
        <div
            class="relative overflow-hidden transition-all max-h-0 duration-700 bg-background dark:bg-background-dark"
            x-ref="container1"
            x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
        >
            <div class="py-4 px-2 text-gray-800 dark:text-gray-400">
                <slot />
            </div>
        </div>
    </li>
</BaseLayout>
